$grid-gutter-width: 3rem !default;

$spacer: 1rem;

$gutters: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2.5,
);

$display-font-sizes: (
  1: 6.6rem,
  2: 5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
);

@import "node_modules/bootstrap/scss/bootstrap";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

$header-height-desktop: 550px;
$header-height-mobile: 375px;

.header {
  height: $header-height-desktop;
  position: relative;
  overflow: hidden;
  picture {
    display: flex;
    height: 100%;
    img{
    object-fit: cover;
    width:100%
    }
  }
  &__text{
    text-align: center;
    width:100%;
    display: flex;
    position: absolute;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    color:white;
    padding:0 10px;
    height: $header-height-desktop;
  }
}

.featured {
  border:1px #ebebeb solid;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.03);
  &__image {
    height: 214px;
    background-size: cover;
    background-position: center;
  }
}

