.tabs {
    &__button--tabs {
        background: white;
        border: 1px #ebebeb solid;
        padding: 5px 10px;
        border-radius: 5px 5px 0 0;
        margin: 0 5px;
        box-shadow: 0px -1px 1px 1px rgba(0, 0, 0, 0.03);
        margin-bottom: -1px;
        color:grey;
        &--active {
            color:black;
            border-bottom: 1px white solid;
        }
    }

    &__button--accordion {
        background: white;
        border: 1px #ebebeb solid;
        padding: 10px;
        padding-right: 40px;
        border-radius: 5px;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.03);
        margin-bottom: 10px;
        width: 100%;
        color:black;
        text-align: left;
        position: relative;
        &:after {
            content:"+";
            position:absolute;
            right:5%;
            top:20%;
            font-weight: bold;
            color: grey;
        }
        &--active {
            &:after {
                content:"-";
                right:5.1%;
                top:17%;
                font-size: 2rem;
            }
        }
    }

    &__content{
        border: 1px #ebebeb solid;
        padding: 20px;
        padding-bottom: 10px;
        border-radius: 5px;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.03);
        background: white;
        margin-bottom: 10px;
    }
}